@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,800;9..40,900&family=DM+Serif+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
}

th {
  color: white !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.m_th {
  @apply px-[9px] min-w-[120px] !text-start;
}

.m_td {
  @apply !min-h-[50px];
}

.month {
  color: black !important;
}

::placeholder {
  font-size: 16px;
}
